assets/schema/eventHandler.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:include schemaLocation="script.xsd" />
	<xsd:include schemaLocation="comment.xsd" />
	
	<xsd:element name="eventHandler">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="script" />
				
				<xsd:element ref="comment" />
			</xsd:all>
			
			<xsd:attribute name="name" type="eventHandlerName" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="eventHandlerName">
		<xsd:restriction>
			<xsd:enumeration value="onLoad" />
			<xsd:enumeration value="onUsed" />
			<xsd:enumeration value="onCollided" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>