assets/schema/script.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="script">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="slang" type="availableScript" default="JavaScript" /><!-- Script Language -->
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="availableScript">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="JavaScript" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>